<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.remya.petplanet">

    <permission
        android:name="android.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.example.barcodelibrary.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="@string/step_detector"
        android:required="false" />
    <uses-feature
        android:name="@string/step_counter"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/app"
        android:label="Pet Nanny"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.MainActivity"
            android:label="Pet Nanny"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>



        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <com.example.remya.petplanet.service
            android:name=".com.example.remya.petplanet.service.StepService"
            android:enabled="true"
            android:exported="true"
            android:process=":StepService" />

        <activity
            android:name=".activity.GetPet"
            android:label="@string/title_activity_get_pet"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PostPet"
            android:label="@string/title_activity_post_pet"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.PetContacts"
            android:label="@string/title_activity_pet_contacts"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.Walking_Activity"
            android:label="@string/title_activity_walking_"
            android:parentActivityName=".activity.WalkPet"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.WalkPet" />
        </activity>
        <activity
            android:name=".activity.Weather"
            android:label="@string/title_activity_weather"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.WalkPet"
            android:label="@string/title_activity_walk_pet"
            android:parentActivityName=".activity.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.MainActivity" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyDZvs9gO_oLAmr9Vu2PXikMRaywYtpPXK4" />

        <activity
            android:name=".activity.PetResults"
            android:label="@string/title_activity_pet_results"
            android:parentActivityName=".activity.GetPet"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.GetPet" />
        </activity>
        <activity
            android:name=".activity.ServiceRequestForm"
            android:label="@string/title_activity_service_request_form"
            android:parentActivityName=".activity.PetContacts"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.PetContacts" />
        </activity>
        <activity
            android:name=".activity.Favorites"
            android:label="@string/title_activity_favorites"
            android:parentActivityName=".activity.GetPet"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.remya.petplanet.activity.GetPet" />
        </activity>
        <activity
            android:name=".activity.Pet_Diaries"
            android:label="@string/title_activity_pet__diaries"
            android:parentActivityName=".activity.PetContacts"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.remya.petplanet.activity.PetContacts" />
        </activity>

        <!--<meta-data android:name="com.facebook.sdk.ApplicationId" android:resource="@string/facebook_app_id" />-->
    </application>

</manifest>